<ion-tab title="Account" icon="ion-gear-a">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/profile" class="button button-positive button-block  icon-right ion-log-in">Log in</a>
            <a href="#/signup" class="button button-dark button-clear button-block  icon-right ion-plus-round">Or create an account</a>
    </ion-content>
</ion-tab>