<ion-view title="Booking Info">
    <ion-content padding="true" class="has-header">
        <div>
            <h2>Congrats!</h2>

            <p>Your are now
                <strong>environment friendly</strong>
                <code>:)</code>
            </p>
        </div>
        <ion-list>
            <ion-item class="item-divider">Collector Info</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/takers/profileurl.png">
                <h2>Srinivas Santhanam</h2>
                <p>Mobile: 9035116948</p>
            </ion-item>
            <label class="item item-input" name="Book later">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Today">
            </label>
            <label class="item item-input" name="Hour">
                <span class="input-label">Hour</span>
                <input type="number" placeholder="Hour">
            </label>
        </ion-list>
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <ion-list>
            <ion-item class="item-divider">Paper</ion-item>
            <ion-item>kgs: 10 Rs: 65</ion-item>
        </ion-list>
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <div>
            <p>Give us feedback on the collector.</p>
        </div>
    </ion-content>
</ion-view>