<ion-tab title="Book" icon="ion-calendar">
            <ion-content padding="true" class="has-header">
                <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
                <form>
                    <ion-radio>Radio</ion-radio>
                </form>
                <label class="item item-input" name="Book later">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="Today">
                </label>
                <label class="item item-input" name="Hour">
                    <span class="input-label">Hour</span>
                    <input type="number" placeholder="Hour">
                </label>
                <ion-checkbox>paper</ion-checkbox>
                <ion-checkbox>plastic</ion-checkbox>
                <ion-checkbox>glass</ion-checkbox>
                <a href="#/booked" class="button button-balanced button-block ">Take my plastic!</a>
            </ion-content>
</ion-tab>