<ion-tab title="History" icon="ion-android-trash">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <ion-list>
            <ion-item class="list card" ng-repeat="turn in turns" type="item-text-wrap" href="#/tab/chats/{{turn.id}}">
                <div class="list card">
                    <div class="item item-divider">{{turn.date}}</div>
                    <div class="item item-body"></div>
                    <div class="item item-divider">{{turn.info}}</div>
                </div>
            </ion-item>
        </ion-list>                
</ion-tab>