<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- History tab-->
  <ion-tab title="History" icon-off="ion-android-trash-outline" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="history-tab"></ion-nav-view>
  </ion-tab>

  <!-- Book Tab -->
  <ion-tab title="Book" icon-off="" icon-on="ion-calendar-outline" href="#/tab/chats">
    <ion-nav-view name="book-tab"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="account-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
