<ion-view title="Profile">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <img src="/profile/static/profileurl.jpg" style="width: 100%; height: auto;">
        <ion-list></ion-list>
        <a href="#/tabs" class="button button-positive button-block button-large">Schedule Now!</a>
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <div class="spacer" style="display: inline-block; width: 300px; height: 40px;"></div>
        <button class="button button-stable button-block  icon-left ion-beaker">Recycled 58 kgs plastic!</button>
        <button class="button button-stable button-block  icon-left ion-cash">Rs. 560 credited</button>
        <button class="button button-stable button-block  icon-left ion-cash">Rs. 30 are with us!</button>
    </ion-content>
</ion-view></script>