<ion-view view-title="Account">
  <ion-content>
  <div id="deviceready">
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
  <h3>{{model}}</h3>
</div>
</div>
<center><button class="button button-positive" ng-click="signUp();">
  awesome
</button></center>
  </ion-content>
</ion-view>

